@reference "tailwindcss";

.rows {
  grid-template-rows: auto auto 1fr auto 1fr;

  @media (hover: none) {
    border-top: 1px solid var(--color-border-0);
  }

  @variant md {
    grid-template-rows: 1fr auto 1fr auto 1fr;
  }
}
