.grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto 1fr auto 1fr auto theme("space.10");

  @screen md {
    grid-template-columns: theme("space.10") 1.5fr 3fr 3fr 1.5fr theme("space.10");
  }

  @screen lg {
    grid-template-columns: theme("space.10") 1fr 3fr 3fr 1fr theme("space.10");
  }
}

.marquee {
  --gap: 0.5em;
}

.textPrimary {
  --relative-font-size: 20vw;
  font-size: clamp(4rem, var(--relative-font-size), 12.5rem);
  line-height: 1;

  @screen md {
    --relative-font-size: 13vw;
  }
}

.textSecondary {
  font-size: clamp(1.5rem, 4vw, 3.7rem);
  line-height: 1;
}

.marqueeAnimation {
  @media (prefers-reduced-motion: no-preference) {
    animation: marquee-scroll 50s linear infinite;
  }

  @media (prefers-reduced-motion: reduce) {
    transform: translate3d(-20%, 0, 0);
  }
}

@keyframes marquee-scroll {
  from {
    transform: translate3d(calc(-100% - var(--gap)), 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
