@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: clamp(16px, 1vw, 24px);
}

body {
  background-color: theme("colors.layer.0");
  color: theme("colors.foreground.0");
}
